html {
    height: 100%;
    position: relative;
    overflow-y: auto;
}
body {
    font-family: "Roboto", sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    asd;aslnhd
}
.text-center {
    text-align: center;
}
.show{
    display: block !important;
}
.main-bg{
    background: #1ba8af;asfa.sknalsnknanklns
}
.menu-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1001;
}
.button-area {
    width: 100%;
    text-align: right;
    padding: 5px;
}
.c-hamburger {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 46px;
    height: 38px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    background: #1ba8af;
}
.c-hamburger:focus {
    outline: none;
}
.c-hamburger span {
    display: block;
    position: absolute;
    top: 18px;
    left: 10px;
    right: 10px;
    height: 3px;
    background: white;
}
.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
}
.c-hamburger span::before {
    top: -10px;
}
.c-hamburger span::after {
    bottom: -10px;
}
.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
.menu-section{
    display: none;
    background: #1ba8af;
}
.menu-logo {
    display: block;
    height: 65px;
    width: 65px;
    border-radius: 100%;
    background: url(../images/menu-logo-sm.png) no-repeat center center;
    margin: 0px auto;
}
.menu-list {
    width: 90%;
    display: block;
    margin: 0px auto;
    padding: 0;
    list-style: none;
}
.dl-submenu{
    width: 100%;
}
.menu-list > li {
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0;
    list-style: none;
    border-bottom: solid 1px #4cb9c0;
}
.menu-list > li:last-child {
    border-bottom: 0px;
}
.menu-list > li > a {
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: block;
    position: relative;
}
.dl-submenu li  a{
    text-transform: inherit;
}
.menu-list > li:hover > a,
.menu-list > li.active > a {
    background: #229b9b;
}
.menu-list > li.has-sub-menu >  a:after {
    position: absolute;
    content: "";
    background: url(../images/arow-sm.png) no-repeat center center;
    height: 16px;
    width: 16px;
    right: 10px;
    top: 10px;
    color: #fff;
}
.get-ready-sec {
    width: 80%;
    display: block;
    margin: 0px auto;
    margin-top: 10%;
}
.get-button {
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: .8em;
    border: solid 1px #fff;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
.get-button:hover {
    letter-spacing: 2px;
}
.menu-footer {
    background: #14b7b6;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.menu-footer .left-text {
    float: left;
    display: inline-block;
    line-height: 30px;
}
.menu-footer span {
    float: right;
    display: inline-block;
    height: 30px;
}
.menu-footer span a img {
    display: inline-block;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background-size: cover;
}
.go-back-sec {
    width: 90%;
    display: block;
    text-align: left;
    margin: 0px auto;
    padding: 0px 10px;
    margin-bottom: 15px;
}
.go-back-sec .back-btn {
    display: inline-block;
    width: 32px;
    height: 20px;
    background: url(../images/back-btn-sm.png) no-repeat left top;
}
li.list ul.child,
li.sub-list ul.child,
li.sub-list ul.sub-child {
    display: none;
}
.dl-menuopen li.list ul.child{
    display: block;
}
li.list.active ul.child,
li.sub-list1.active ul.child{
    display: block;
}
.dl-menuopen > li:not(.list){
    display: none;
}
.dl-menuopen > li > a{
    display: none;
}